
body {
    text-align: center;
    background-color: #f5f8fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 350px;
    padding: 20px;
  }
  
  h1 {
    color: #1da1f2;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form input {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #1da1f2;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  button:hover {
    background-color: #0c84db;
  }
  
  p {
    font-size: 14px;
    margin-top: 20px;
  }
  
  a {
    color: #1da1f2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }