html {
    font-family: 'Chirp', sans-serif;
    top: 0;
}
body{
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0px;
    padding: 0px;
    position: relative;
    box-sizing: border-box;
}

.container {
    padding-left: 8px;
    padding-right: 8px;
}

.navigation {
    align-items: start;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 4px;
}

.link {
    width: 100%;
    flex-grow: 1;
}

.button {
    flex-direction: row;
    padding: 12px;
}

.text {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 16px;
}

#layout{
    display: flex;
    flex-direction: row
}

.tweet {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.profile-picture {
    margin-right: 10px;
}

.profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.username {
    font-weight: bold;
}

.message {
    margin-top: 5px;
}

.twitter-comment {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .comment-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .comment-header .username {
    font-weight: bold;
  }
  
  .comment-header .name {
    color: #657786;
  }
  
  .comment-body p {
    margin-bottom: 10px;
  }
  
  .comment-actions a {
    color: #1da1f2;
    text-decoration: none;
  }
  
  .comment-actions a:hover {
    text-decoration: underline;
  }

  .comment-actions a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e6ecf0;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  .comment-actions a:hover {
    background-color: #d4eaf6;
  }
  
  .comment-actions a i {
    margin-right: 5px;
  }
  
  .comment-actions a span {
    vertical-align: middle;
  }

  /*
   We used ChatGPT to help with the following css in order to make out tweet feature look more like what you would expect from twitter
  */

  #user-tweet-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
  }
  
  #user-tweet-container textarea {
    width: 100%;
    resize: none;
    border: none;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
    box-sizing: border-box; 
  }
  
  #user-tweet-container button{
    background-color: #1da1f2;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; 
  }
  
  /* End of ChatGPT help*/

  #right-sidebar{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-right: 15vw;
  }

  #logout{
    background-color: #1da1f2;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; 
  }

  
