<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Explore / Twitter</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='explore.png') }}">
    <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.cdnfonts.com/css/chirp-2" rel="stylesheet">
    <script src='main.js'></script>
</head>
<body>
    <header class="flex" style="width: 200px; align-items: flex-end;">
        <div class="container flex" style="height: 100%; position: fixed;">
            <div class=" button flex" style="align-items: flex-start;">
                <img class="flex" src="{{ url_for('static', filename='icon.avif') }}" style="height: 25px;">
            </div>

            <nav class="navigation flex">
                <a class="link flex">
                    <div class="button flex">
                        <div class="flex">
                            <img src="{{ url_for('static', filename='search.png') }}" style="height: 23px;">
                        </div>
                        <div class="text" style="font-weight: bold;">Explore</div>
                    </div>
                </a>

                <a class="link flex">
                    <div class="button flex">
                        <div class="flex">
                            <img src="{{ url_for('static', filename='settings.png')}}" style="height: 23px;">
                        </div>
                        <div class="text">Settings</div>
                    </div>
                </a>
            </nav>
            
        </div>
    </div>
</body>
</html>