<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <!--
    <form action="/">
        <button>Home</button>
    </form>
    -->
    <div class="signup container">
        <h1>Sign Up</h1>
        <div class="signup-text">Signing up for an account will allow you make tweets!</div>
        <form  class= "signup form" action="/newaccount" method="POST">
            Name:
            <input type="text" name="name" required>
            Username:
            <input type="text" name="username" required>
            Password:
            <input type="password" name="password" required>
            Confirm Password:
            <input type="password" name="confirmation" required>
            <input type="submit" name="signup">
            {% if error == 'signup' %}
            The user already exists
            {% elif error == 'confirmation' %}
            Your password was not the same as the confirmation
            {% endif %}
        </form>
    </div>
</body>
</html>